/*=======================================================*/
/* base */
/*=======================================================*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #F3F5F7;
  font-family: Helvetica Neue, serif;
  padding-bottom: 60px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

/*=======================================================*/
/* header */
/*=======================================================*/

.header {
  background: #FFFFFF;
  border-bottom: 1px solid #EDF1F3;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {

}

.headerNav {
  display: flex;
  list-style: none;
  height: 100%;
}

.headerNav__item {
  height: 100%;
}

.headerNav__item--logout .headerNav__itemLink {
  color: #B00020;
}

.headerNav__itemLink {
  font-family: Helvetica Neue, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #495459;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  padding: 0 16px;
  line-height: 74px;
}

.headerNav__itemLink:hover {
  background: #f0f0f0;
  color: #495459;
  text-decoration: none;
}

.headerNav__item--active .headerNav__itemLink {

}

/*=======================================================*/
/* guest message section
/*=======================================================*/
.guestMessageSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guestMessageSection__message {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
  color: #333333;
}

.topActionBar {
  margin-bottom: 24px;
}

/*=======================================================*/
/* Hadith editable section */
/*=======================================================*/
.hadithEditableSections {
  display: flex;
  justify-content: space-between;
  height: 495px;
  margin-bottom: 30px;
}

.hadithEditableSections__section {
  flex: 1;
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hadithEditableSections__section:last-of-type {
  margin-right: 0;
}

.hadithEditableSections__sectionHead {
  padding: 24px 24px 0;
  border-bottom: 1px solid #EDF1F3;
}

.hadithEditableSections__sectionContent {
  flex: 1;
  overflow: scroll;
}

.hadithEditableSections__sectionTitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  color: #333333;
  margin: 0 0 24px;
}

.hadithEditableSections__metaData {
  display: flex;
  flex-wrap: wrap;
}

.hadithEditableSections__metaItem {
  margin-bottom: 18px;
  width: 50%;
}

.hadithEditableSections__metaItem--fullWidth {
  width: 100%;
}

.hadithEditableSections__metaTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #019592;
}

.hadithEditableSections__metaDesc {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #333333;
}

.hadithEditableSections__textarea {
  font-family: Noto Serif, serif;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  padding: 16px 24px;
}

.hadithEditableSections__textarea:focus {
  outline: none;
}

.hadithEditableSections__textarea[readonly] {
  background: #F8F8F8;
}

/*=======================================================*/
/* Preview section */
/*=======================================================*/
.previewSection {
  background: #FFFFFF;
  border-radius: 16px;
}

.previewSection__content {
  padding: 24px 24px 0;
  border-bottom: 1px solid #EDF1F3;
}

.previewSection__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin: 0 0 24px;
}

.previewSection__previewText {
  font-family: Noto Serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
}

.previewActionBar {
  padding: 24px;
  border-bottom: 1px solid #EDF1F3;
  display: flex;
  justify-content: space-between;
}

.previewActionBar__leading {
  display: flex;
  align-items: center;
}

.previewActionBar__trailing {
  display: flex;
  align-items: center;
}

.moderatorCommentSection {
  padding: 24px;
}

.moderatorCommentSection__checkbox {
  margin-left: 24px;
  cursor: pointer;
}

.moderatorCommentSection__textarea {
  font-family: Noto Serif, serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  padding: 16px 24px;
  margin-top: 16px;
  border: 1px solid #f0f0f0;
}

.actionButton {
  min-width: 100px;
  height: 37px;
  line-height: 37px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
}

.actionButton:first-child {
  margin-left: 0;
}

.actionButton:active, .actionButton:focus, .actionButton:focus-within {
  opacity: 1;
}

.actionButton--accept {
  background: #019592;
  color: white;
}

.actionButton--reject {
  background: #B00020;
  color: white;
}

.actionButton--skip {
  color: #019592;
  border: 1px solid #019592;
  background: white;
}

.actionButton--dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #EDF1F3;
  color: #333333;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  border-radius: 8px;
  background: white;
  box-shadow: 10px 14px 38px -21px rgba(0, 0, 0, 0.75);
  border: 1px solid #f0f0f0;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-item {
  padding: 6px 8px;
  color: #333333;
  background: white;
  transition: 0.3s;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.actionButton .dropdown-caret {
  font-size: 8px;
  margin-left: 8px;
}

.topActionBar .actionButton--dropdown {
  background: white;
}
