attrs==20.2.0
aws-sam-translator==1.27.0
aws-xray-sdk==2.6.0
boto3==1.14.16
cffi==1.14.3
cfn-lint==0.37.1
cryptography==3.1.1
decorator==4.4.2
docker==4.3.1
future==0.18.2
importlib-metadata==2.0.0
iniconfig==1.0.1
jsondiff==1.2.0
jsonpatch==1.26
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
mock==4.0.2
more-itertools==8.5.0
moto==1.3.16
networkx==2.5
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.1
pytz==2020.1
responses==0.12.0
sshpubkeys==3.1.0
urllib3==1.25.10
websocket-client==0.57.0
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.3.0
