{% extends 'layout.html' %}

{% block content %}
    <h3>Welcome {{ username }}!</h3>
    <correction-view inline-template token="{{ access_token }}" queue="{{ queue_name }}">
      {% raw %}
      <div>
        {{ message }}

        <div>
          <div class="row">
            <div class="col">
              <p v-if="loading">Loading...</p>
              <p v-for="error in errors">
                {{ error }}
              </p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="queueDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{queueName}}
                </button>
                <div class="dropdown-menu" aria-labelledby="queueDropdown">
                  <a class="dropdown-item" href="#" v-on:click="changeQueue('global')">global</a>
                  <a class="dropdown-item" href="#" v-on:click="changeQueue('secondary')">secondary</a>
                  <a class="dropdown-item" href="#" v-on:click="changeQueue('skipped')">skipped</a>
                </div>
              </div>
            </div>            
          </div>
          <div class="row" v-if="correction != null">
            <div class="col">              
              <div id="correction" class="item">
                <h3>Correction</h3>
                <div>
                  <span class="label">Collection: </span>
                  <span v-if="originalHadith">{{ originalHadith.collection }}</span>
                  <div>
                    <span class="label">Attribute:</span> {{ correction.attr }}
                  </div>
                  <div class="comment">
                    <span class="label">Comment:</span>
                    <p>{{ correction.comment }}</p>
                  </div>
                  <div>
                    <span class="label">Submitted By:</span> {{ correction.submittedBy }}
                  </div>
                  <div class="value">
                    <span class="label">Value:</span>
                    <textarea @input="checkDiff" class="form-control" name="corrected_value" rows="10"
                      v-model="correction.val"></textarea>
                  </div>
                  <div>
                    <button class="btn btn-secondary mt-2" v-on:click="loadOriginal">Load Original</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="item" v-if="correction != null && originalHadith != null">
                <h3>Diff</h3>
                <div v-html="this.diff">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="item" v-if="correction != null && originalHadith != null">
                <h3>Preview</h3>
                <div v-html="correction.val">
                </div>
                <button class="btn btn-primary mt-2" v-on:click="accept">Accept</button>
                <button type="button" class="btn btn-danger mt-2" v-on:click="reject">Reject</button>
                <button v-if="queueName != 'skipped'" type="button" class="btn btn-info mt-2" v-on:click="skip">Skip</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}
    </correction-view>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/diff_match_patch.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
